<div style="text-align:center">


    <img alt="Logo" src="assets/images/logo_QAS_dark.svg">
    <h2>Welcome to User Page</h2>
    <img alt="Logo" src="assets/images/banner_QAS_v2.jpg" style="width:100%;">
</div>

<div style="text-align:center">
    <ul>
        <li>
            <h3>User : {{user}}</h3>
        </li>
        <li>
            <h3> Password : {{password}} </h3>
        </li>
        <li>
            <h3> Email ID : {{email}} </h3>
        </li>
    </ul>
    <button (click)="navigateTo()">Navigate Back to Home</button>
</div>